Django==5.1.9
djangorestframework==3.16.1
djangorestframework-simplejwt==5.2.0
drf-spectacular==0.27.1
django-cors-headers==4.7.0

mysql-connector-python==9.1.0

gunicorn==21.2.0
whitenoise==6.5.0

python-dotenv==1.0.0
PyJWT==2.10.1
requests==2.31.0

# ensure pkg_resources is available at runtime
setuptools>=67.0.0